<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.upb.edu/lp/isc/ElErrorCosmicoDePaserj"
			class = "edu.upb.lp.isc.elErrorCosmicoDePaserj.ElErrorCosmicoDePaserjPackage"
			genModel = "model/generated/ElErrorCosmicoDePaserj.genmodel" />
	</extension>
</plugin>
